@import "./content.scss";
@import "./header.scss";
@import "./footer.scss";

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

h1.page_title {
    font-size: 34px;
    line-height: 48px;
    text-transform: uppercase;
    color: #1569b9;
    margin: 20px 0 10px;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    margin: 0.8em 0 1.6em;
}