.prof_card, .prof_other {
    padding: 40px 0 30px;
    margin: 0 0 30px;
    border-bottom: 1px solid #d7dddb;
}

section.main {
    padding: 0 96px 20px;
    
    // border-bottom: 1px solid #d7dddb;
}
.pt_content {
    margin: 0 auto;
    max-width: 710px;
    .prof_card {
        display: flex;
        flex-direction: row;
        .prof_title {
            margin: 0 0 20px;
            font-size: 24px;
        }
        .prof_image, .prof_trends {
            width: 220px;
            margin: 0 20px 0 0;
        }
        .prof_text {
            color: #000;
            font-weight: 300;
            width: 470px;
        }
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card {
        background-color: #ffffff;
        border-radius: 2px;
        margin: 8px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        width: 100%;
        padding: 24px 16px 16px;
        &__title {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
        }
    }
}

.temp {
    height: 400px;
    background-color: rgba(0,0,0,.14);
}