$headerColor: #1E88E5;

header {
    display: flex;
    flex-flow: column nowrap;
    margin: 0; 
    color: #efefef;
    overflow:hidden;
    position: relative;
    &::after{
        content:"";
        position:absolute;
        top:0;
        left:0;
        height: 100%;
        width:100%;
        transform: skewY(-4deg);
        background: $headerColor;
        transform-origin: bottom left;
        z-index: -1;
    }
    &::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        height: 100%;
        width:100%;
        transform: skewY(8deg);
        background: $headerColor;
        transform-origin: bottom right;
        z-index: -1;
    }
    div {
        padding: 32px 0 48px 0;
    }
    .logo {
        font-size: 45px;
    }
}