<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frontend</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>

<body>
    <header class="main">
        <div class="warp clearfix">
            <div class="header_logo pt_content">
                <a href="/">
                    <div class="logo">NeuroOrientation</div>
                    <!-- <img src="/bitrix/templates/atlas/images/header_logo_mainpage.png"> -->
                </a>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="warp clearfix">
            <div class="pt_content">
                <h1 class="page_title">Результат</h1>
                <div class="prof_card">
                    <div class="prof_image">
                        <img src="./imgs/medic.png">
                    </div>
                    <div class="prof_text">
                        <div class="prof_title"><%= text %></div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="warp clearfix">
            <div class="pt_content">
                <div class="cards prof_other">
                    <div class="card">
                        <div class="card__title">
                            CARD
                        </div>
                        <div class="card__content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__title">
                            CARD
                        </div>
                        <div class="card__content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__title">
                            CARD
                        </div>
                        <div class="card__content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="warp clearfix">
            <div class="pt_content">
                <div class="prof_other">
                    <div class="temp"></div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="wrap clearfix"></div>
    </footer>
</body>

</html>